<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MyTable</servlet-name>
        <servlet-class>MyTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>Slogin.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet1</servlet-name>
        <servlet-class>Tlogin.UserLoginServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet3</servlet-name>
        <servlet-class>Alogin.UserLoginServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updataMark</servlet-name>
        <servlet-class>updataMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStuden</servlet-name>
        <servlet-class>addStuden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateS</servlet-name>
        <servlet-class>updateS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updataAndDeleteClass</servlet-name>
        <servlet-class>updataAndDeleteClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStudent</servlet-name>
        <servlet-class>addClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>Slogin.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet3</servlet-name>
        <url-pattern>/UserLoginServlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updataAndDeleteClass</servlet-name>
        <url-pattern>/updataAndDeleteClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyTable</servlet-name>
        <url-pattern>/MyTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet1</servlet-name>
        <url-pattern>/UserLoginServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updataMark</servlet-name>
        <url-pattern>/updataMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStuden</servlet-name>
        <url-pattern>/addStuden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateS</servlet-name>
        <url-pattern>/updateS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addClass</servlet-name>
        <url-pattern>/addClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/UserLogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
